# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# pytest cache
.pytest_cache/
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Pylint reports
pylint-report/

# Testing artifacts
.tox/
.nox/
*.log

# VS Code settings
.vscode/

# IDE-specific files
.idea/
*.sublime-workspace
*.sublime-project

# macOS and Linux system files
.DS_Store
Thumbs.db
